greeting:
  message: "hello"
quarkus:
  http:
    port: 8080
  datasource:
    db-kind: sqlite
    jdbc:
      url: ${DB_URL:jdbc:sqlite:sample.db}
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: db/migration
    migrate-at-start: true
  mybatis:
    map-underscore-to-camel-case: true
  native:
    resources:
      includes:
        - db/migration/**